* {
    box-sizing: border-box;
    margin: 0;
  }
  
@font-face {
    font-family: 'Lora';
    src: url(fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: 'Martel';
    src: url(fonts/Martel-Regular.ttf);
}

@font-face {
    font-family: 'Exo';
    src: url(fonts/Exo-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf);
}

body {
    font-family:"Roboto", sans-serif;
    background-color: #EAD9CE;
    overflow-x:  hidden;
}

/* Navbar */
.nav-container {

    background: #EAD9CE;
    box-shadow: 0px 9px 4px 1px rgba(0, 0, 0, 0.25);
    height: 86px;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
}

nav ul{
    display: flex;
}

nav .logo-btn{
    margin-left: 1100px;
    margin-top: -50px;
}

.nav-items li {
    list-style: none;
    margin-right: 50px;
    margin-top: 35px;
}

.nav-items li:nth-last-of-type(4){
    margin-left: -20px;
}

.nav-items li a{
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;

    color: #000000;
}


.header-cointainer {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 100vh;
    display: flex;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 52px;
}

.Judul h1{
    width: 574px;
    height: 60px;
    left: 513px;
    top: 142px;

    font-family: 'Exo';
    font-style: normal;
    font-weight: 200;
    font-size: 45px;
    line-height: 60px;
    margin-left: 350px;
    margin-top: 82px;
    /* identical to box height */

    text-align: center;

    color: #1B1B1B;
}

.deskripsi p{
    width: 490px;
    height: 108px;
    left: 513px;
    top: 219px;

    font-family: 'Martel';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    text-align: justify;
    margin-left: 400px;
    margin-top: 12px;

    color: #1B1B1B;
}

.setting-input{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.setting-input p{

    font-family: 'Martel';
    color: #EAD9CE;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;


    background: #B07B54;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 195px;

    margin-top: 25px;
    margin-right: 310px;
    text-decoration-line: underline;
}


.list-input{
    margin-top: 28px;
    margin-left: 410px;
}

label {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */

    text-align: justify;

    color: #5B3011;
}

input[type=text], input[type=number]{
    width: 115px;
    border: 1px solid #000000;
    padding: 9px 8px;
    margin-left: 20px;
    background-color: #EAD9CE;
}

input[type=radio]{
    width: 24px;
    border: 1px solid #000000;
    margin-left: 20px;
}


.setting-output{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.setting-output p{

    font-family: 'Martel';
    color: #EAD9CE;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;


    background: #B07B54;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 195px;

    margin-top: 45px;
    margin-right: 310px;
    text-decoration-line: underline;
}

.list-output{
    margin-top: 25px;
    margin-left: 410px;
}

.result2{
    margin-top: 20px;
}

.result3{
    margin-top: 20px;
}

.result4{
    margin-top: 20px;
}

span{
    font-family: 'Martel';
}


select{
    background-color: #EAD9CE;
    font-family: 'Martel';
    color: black;

    border: 1px solid #000000;
    margin-left: 20px;
    padding: 9px 8px;


}

button[type=submit]{
    width: 233px;
    height: 49px;
    margin-top: 10px;

    background: #54993b;
    border-radius: 0px 30px 30px 0px;
    border: none;

    font-family: 'Martel';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 29px;

    color: #EAD9CE;
}

button[type=submit]:hover {
    background: #468130;
}

button[type=reset]{
    width: 233px;
    height: 49px;

    margin-top: -1000px;
    background: #BF5419;
    border-radius: 24.5px 0px 0px 24.5px;
    border: none;

    font-family: 'Martel';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 29px;
    margin-left: -15px;
    

    color: #EAD9CE;
}

button[type=reset]:hover {
    background: #a33d04;
}

button[type=submit], button[type=reset] {
    cursor: pointer;
    transition: all .2s ease;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 300px auto;
    padding: 20px;
    border-radius: 5px;
    width: 25%;
    position: relative;
    transition: all 5s ease-in-out;
    overflow:hidden;
    padding-bottom:55px;
    background-color:white;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;

    text-align:center;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
    text-align:center;
    margin-bottom: 0;
}
.popup .footer{
    background-color:#B07B54;
    width:100%;
    padding: 8px 0;
    position: absolute;
    left:0;
    bottom:0;
    text-align:center;

}
.popup .footer a
{
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
}
